<!-- <div class="row"> -->
  <%= render "layouts/sidebar"%>

  <div class="col-md-10">

    <div class="row">

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Games map
          </div>
          <div class="panel-body">
            <div id="map-canvas"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="btn-group">
              <button type="button" class="btn btn-primary">My Games</button>
              <button type="button" class="btn btn-default">All Games</button>
              <button type="button" class="btn btn-default">Past Games</button>
            </div>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <a href="#" class="list-group-item active">
                <div class="pull-left" style="font-size:2em;margin-right:7px">
                  Oct 20
                </div>
                <div>
                  <h4 class="list-group-item-heading">CMU Practice - Soccer</h4>
                  <p class="list-group-item-text">
                    Sun, Oct 20 09:00 PM - 10:00 PM
                  </p>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="pull-left" style="font-size:2em;margin-right:7px">
                  Oct 21
                </div>
                <div>
                  <h4 class="list-group-item-heading">F.C. Blades  - Soccer</h4>
                  <p class="list-group-item-text">
                    Sun, Oct 20 09:00 PM - 10:00 PM
                  </p>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="pull-left" style="font-size:2em;margin-right:7px">
                  Oct 22
                </div>
                <div>
                  <h4 class="list-group-item-heading">Football Game Pay-to-Play Activity - Practice</h4>
                  <p class="list-group-item-text">
                    Sun, Oct 20 09:00 PM - 10:00 PM
                  </p>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="pull-left" style="font-size:2em;margin-right:7px">
                  Nov 16
                </div>
                <div>
                  <h4 class="list-group-item-heading">CMU Practice - Soccer</h4>
                  <p class="list-group-item-text">
                    Sun, Oct 20 09:00 PM - 10:00 PM
                  </p>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="pull-left" style="font-size:2em;margin-right:7px">
                  Nov 17
                </div>
                <div>
                  <h4 class="list-group-item-heading">F.C. Blades  - Soccer</h4>
                  <p class="list-group-item-text">
                    Sun, Oct 20 09:00 PM - 10:00 PM
                  </p>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="pull-left" style="font-size:2em;margin-right:7px">
                  Nov 18
                </div>
                <div>
                  <h4 class="list-group-item-heading">Football Game Pay-to-Play Activity - Practice</h4>
                  <p class="list-group-item-text">
                    Sun, Oct 20 09:00 PM - 10:00 PM
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->

<script>
var map;
var poiMarkers = [];

function initialize() {
  var initLatLng = new google.maps.LatLng(37.411367,-122.058884); // CMU SV Bldg 23
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 17,
    center: initLatLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  markPOIs();
}

function markPOIs() {
  var poiRaw = [
    // CMUSV
    [37.410709,-122.060123],
    [37.410841,-122.059715],
    [37.41173,-122.059165],
    [37.411879,-122.058693],
    [37.41207,-122.058135],
    ];
    var poiLatLng = [];
    for (i=0; i<poiRaw.length; i++) {
      poiLatLng[i] = new google.maps.LatLng(poiRaw[i][0],poiRaw[i][1]);

      poiMarkers[i] = new google.maps.Marker({
        map: map,
        position: poiLatLng[i],
      });

      attachMessage(poiMarkers[i], "<h4>CMU Practice - Soccer</h4><p>Huntington Beach Sports Complex, 18100 Goldenwest Street<br>Huntington Beach, CA 92647, USA<br>Sun, Oct 20 09:00 PM - 10:00 PM</p>");
    }

  }

  /*show messages on pins*/
  function attachMessage(marker, message) {
    var infowindow = new google.maps.InfoWindow({
      content: message,
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(marker.get('map'), marker);
    });
  }

  /* Initial Google Maps after the page is loaded */
  $(function() {
    google.maps.event.addDomListener(window, 'load', initialize);
  });
  </script>