
<div classs="row">
  <%= render "layouts/sidebar"%><!-- size 2 -->
  
  <div class="col-md-10">
    <div class="row">
      <img src="http://www.development.squadcloud.com/images/controlpanelheader.png" class="img-rounded">
      <img src="http://www.development.squadcloud.com/images/squadcloud.png" alt="SQ" class="img-rounded">

    </div>

    <div class="row">
      <div class="col-md-2">
      
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-user"></span> <div>Star<div>
        </button> 
      </div>

    </div>

  </div>

</div>  

